---
---

@import "normalize";
@import "rouge-github";
@import "variables";

$primary: $header-bg-color;
$secondary: $header-bg-color-secondary;
$radius: 10px;

@mixin rounded($R) {
    border-radius: $R; 
    -moz-border-radius: $R; 
    -webkit-border-radius: $R; 
}

div.note {
	/* border: 1px #dce6f0 solid; */
	/* background-color: #e0e0e0; */
	@include rounded($radius);
	border: 1px $primary solid;
	padding: 0.5em 1em;
    margin: 10px 30px;
}

div.note em {
	font-weight: bold;
	font-style: normal;
	/* color: #F55; */
	color: $primary;
}

div.tip {
	color: white;
	background-color: $primary;
	background-image: linear-gradient(120deg, $secondary, $primary); 
	padding: 5px 20px;
    margin: 10px 2em 15px 2em;
    font-size: 1rem;
	border: 1px $border-color solid;
	@include rounded($radius);
}

.top a {
	float: right;
	font-size: 0.9rem;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline; 
	}
}

/* The first menu item is not padded on the left */
.menu .item {
	padding-right: 10px;
    margin: 0;
    font-size: 1rem;
     + .item {
	     /* Subsequent menu items are padded on both sides. */
     	padding-left: 10px;
     }
}


.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}
