body {
   counter-reset: section subsection;
}

body, p, td, pre {
   font-size: 14pt; }
 
h2 {
   counter-increment: section; }

h3 {
   counter-increment: subsection; }

h2:before {
   content: counter(section) ". "; }

h3:before {
   content: counter(section) "." counter(subsection) ". "; }

li {
   margin-top: 4pt;
   margin-bottom: 4pt; }

li p {
   margin-top: 5pt; }

img {
   border: thin solid gray; }

.example { 
   margin-left: 10pt; }

.code { 
   padding: 8pt;
   font-size: 12pt;
   background-color: #eee;
   border: thin dotted grey;
   margin-left: 10pt;
   margin-right: 30pt; }

.navigation, .author {
   font-size: 16pt; }

.command {
   font-weight: bold; }